<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>corpinfo</key>
	<dict>
		<key>corpid</key>
		<integer>22207</integer>
		<key>corpjobnum</key>
		<integer>2</integer>
		<key>corpname</key>
		<string>广州恩恩团队</string>
		<key>corpstarlevel</key>
		<string>5.0</string>
		<key>hasattention</key>
		<integer>0</integer>
	</dict>
	<key>jobdetail</key>
	<dict>
		<key>address</key>
		<string>公园前</string>
		<key>applystatus</key>
		<integer>0</integer>
		<key>area</key>
		<string>广园新村</string>
		<key>belowjobtype</key>
		<integer>1</integer>
		<key>cityid</key>
		<integer>91</integer>
		<key>condition</key>
		<string>不限</string>
		<key>confirmcount</key>
		<integer>4</integer>
		<key>corpid</key>
		<integer>22207</integer>
		<key>corpname</key>
		<string>广州恩恩团队</string>
		<key>corpstarlevel</key>
		<string>5.0</string>
		<key>district</key>
		<string>白云区</string>
		<key>eatinfo</key>
		<string>不管饭</string>
		<key>endtime</key>
		<string>16:30</string>
		<key>evaluenum</key>
		<integer>0</integer>
		<key>gategory</key>
		<integer>2</integer>
		<key>gategorydesc</key>
		<string>普通兼职</string>
		<key>gatherplace</key>
		<string>越秀区公园前地铁站-f口</string>
		<key>gathertime</key>
		<string>09:30</string>
		<key>hostelinfo</key>
		<string>不管住</string>
		<key>icon</key>
		<string>http://image.store.tanlu.cc/images/JobTypeIco/chongchang.png</string>
		<key>id</key>
		<integer>83515</integer>
		<key>interview</key>
		<string>无需面试</string>
		<key>isfull</key>
		<integer>0</integer>
		<key>jobtype</key>
		<string>充场</string>
		<key>la</key>
		<real>23.139275999999999</real>
		<key>lo</key>
		<real>113.28783300000001</real>
		<key>mergeworkdays</key>
		<array>
			<string>03.09-03.16</string>
		</array>
		<key>needcount</key>
		<integer>10</integer>
		<key>otherrequire</key>
		<string>签约后电联商家</string>
		<key>pageview</key>
		<integer>449</integer>
		<key>phone</key>
		<string>15767902757</string>
		<key>pubtime</key>
		<string>2016-03-08 14:08</string>
		<key>require</key>
		<string>急招明天3月9~16号充场兼职 多名 【薪资】：300/天 任务提前完成提前下班即结清全部工资！ 办理各大银行的网银和普通卡，（网银每张50元，普卡每张25元》 多劳多得 【地点】：二号线地铁口 详细报名成功通知 【要求】：男女不限，一定要带上二代身份证，做完现金结算，2个月前办过可以过来办 【内容】：全程客户经理指引，专窗专柜办理，日后也没有任何收费等不良影响，是纯属坐着排队打酱油的证券冲业绩兼职（可以听音乐玩手机），任务提前完成提前下班即结清工资，请放心报名。 【声明】：不办任何会员卡，不收任何费用！确定能做的再报名，报名后有事不来请提前说明</string>
		<key>resulthope</key>
		<string>无绩效提成</string>
		<key>resumucount</key>
		<integer>5</integer>
		<key>salary</key>
		<integer>300</integer>
		<key>settlecircle</key>
		<string>日结</string>
		<key>settletype</key>
		<string>元/天</string>
		<key>shortworkdays</key>
		<array>
			<string>03.09</string>
			<string>03.10</string>
			<string>03.11</string>
			<string>03.12</string>
			<string>03.13</string>
			<string>03.14</string>
			<string>03.15</string>
			<string>03.16</string>
		</array>
		<key>starlevel</key>
		<string>5.0</string>
		<key>starttime</key>
		<string>09:30</string>
		<key>status</key>
		<integer>2</integer>
		<key>statustext</key>
		<string>招聘中</string>
		<key>tags</key>
		<array>
			<string>钱多</string>
			<string>活少</string>
			<string>美女多</string>
		</array>
		<key>taskinfo</key>
		<string>无底薪任务</string>
		<key>title</key>
		<string>充场兼职</string>
		<key>train</key>
		<string>无需培训</string>
		<key>weeks</key>
		<array>
			<string>星期三</string>
			<string>星期四</string>
			<string>星期五</string>
			<string>星期六</string>
			<string>星期日</string>
			<string>星期一</string>
			<string>星期二</string>
			<string>星期三</string>
		</array>
		<key>workdays</key>
		<array>
			<string>2016-03-09</string>
			<string>2016-03-10</string>
			<string>2016-03-11</string>
			<string>2016-03-12</string>
			<string>2016-03-13</string>
			<string>2016-03-14</string>
			<string>2016-03-15</string>
			<string>2016-03-16</string>
		</array>
		<key>workdaytimestamps</key>
		<array>
			<integer>1457452800000</integer>
			<integer>1457539200000</integer>
			<integer>1457625600000</integer>
			<integer>1457712000000</integer>
			<integer>1457798400000</integer>
			<integer>1457884800000</integer>
			<integer>1457971200000</integer>
			<integer>1458057600000</integer>
		</array>
		<key>worktimes</key>
		<array>
			<dict>
				<key>end</key>
				<string>16:30</string>
				<key>start</key>
				<string>09:30</string>
			</dict>
		</array>
	</dict>
	<key>kefuphone</key>
	<string>4009266360</string>
	<key>msg</key>
	<string>操作成功</string>
	<key>status</key>
	<integer>0</integer>
	<key>userinfo</key>
	<dict>
		<key>applystatus</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
