<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jobs</key>
	<array>
		<dict>
			<key>begindate</key>
			<integer>1456848000000</integer>
			<key>distance</key>
			<string>23.4千米</string>
			<key>enddate</key>
			<integer>1458576000000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>80541</integer>
			<key>isrecommend</key>
			<integer>1</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>585</integer>
			<key>salary</key>
			<integer>13</integer>
			<key>settlecircle</key>
			<string>月结</string>
			<key>settletype</key>
			<string>元/小时</string>
			<key>title</key>
			<string>学校代理负责人</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457712000000</integer>
			<key>distance</key>
			<string>7.6千米</string>
			<key>enddate</key>
			<integer>1457798400000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/cuxiao.png</string>
			<key>id</key>
			<integer>84296</integer>
			<key>isrecommend</key>
			<integer>1</integer>
			<key>jobtype</key>
			<string>促销/导购</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string>面</string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>132</integer>
			<key>salary</key>
			<integer>120</integer>
			<key>settlecircle</key>
			<string>月结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>蓝月亮大型活动兼职人员</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1456934400000</integer>
			<key>distance</key>
			<string>4.2千米</string>
			<key>enddate</key>
			<integer>1459267200000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>81509</integer>
			<key>isrecommend</key>
			<integer>1</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>294</integer>
			<key>salary</key>
			<integer>70</integer>
			<key>settlecircle</key>
			<string>完工结算</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>电话兼职校园代理</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457366400000</integer>
			<key>distance</key>
			<string>6.7千米</string>
			<key>enddate</key>
			<integer>1459785600000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>83637</integer>
			<key>isrecommend</key>
			<integer>1</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>50</integer>
			<key>salary</key>
			<integer>60</integer>
			<key>settlecircle</key>
			<string>月结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>直招校园企宣代理</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457452800000</integer>
			<key>distance</key>
			<string>5.1千米</string>
			<key>enddate</key>
			<integer>1459353600000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>83467</integer>
			<key>isrecommend</key>
			<integer>1</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>82</integer>
			<key>salary</key>
			<integer>30</integer>
			<key>settlecircle</key>
			<string>日结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>59store招聘校园经理</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457452800000</integer>
			<key>distance</key>
			<string>5.1千米</string>
			<key>enddate</key>
			<integer>1457971200000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoshou.png</string>
			<key>id</key>
			<integer>83350</integer>
			<key>isrecommend</key>
			<integer>1</integer>
			<key>jobtype</key>
			<string>销售/业务</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>172</integer>
			<key>salary</key>
			<integer>200</integer>
			<key>settlecircle</key>
			<string>日结</string>
			<key>settletype</key>
			<string>元/次</string>
			<key>title</key>
			<string>pos机销售</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457884800000</integer>
			<key>distance</key>
			<string>3.9千米</string>
			<key>enddate</key>
			<integer>1459353600000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/shixisheng.png</string>
			<key>id</key>
			<integer>85185</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>实习生</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string>面</string>
				<string>培</string>
			</array>
			<key>pageview</key>
			<integer>1</integer>
			<key>salary</key>
			<integer>50</integer>
			<key>settlecircle</key>
			<string>日结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>顶级果汁品牌实习</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457625600000</integer>
			<key>distance</key>
			<string>5.8千米</string>
			<key>enddate</key>
			<integer>1459440000000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>85084</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string>底</string>
				<string>绩</string>
				<string></string>
				<string>培</string>
			</array>
			<key>pageview</key>
			<integer>8</integer>
			<key>salary</key>
			<integer>300</integer>
			<key>settlecircle</key>
			<string>完工结算</string>
			<key>settletype</key>
			<string>元/个</string>
			<key>title</key>
			<string>各校课程顾问代理</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457712000000</integer>
			<key>distance</key>
			<string>7.9千米</string>
			<key>enddate</key>
			<integer>1460044800000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/bianji.png</string>
			<key>id</key>
			<integer>85030</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>翻译/编辑</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>35</integer>
			<key>salary</key>
			<integer>20</integer>
			<key>settlecircle</key>
			<string>日结</string>
			<key>settletype</key>
			<string>元/小时</string>
			<key>title</key>
			<string>粤语录音</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1458230400000</integer>
			<key>distance</key>
			<string>4.2千米</string>
			<key>enddate</key>
			<integer>1459353600000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/baoan.png</string>
			<key>id</key>
			<integer>84934</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>保安</string>
			<key>labels</key>
			<array>
				<string>餐</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>23</integer>
			<key>salary</key>
			<integer>150</integer>
			<key>settlecircle</key>
			<string>完工结算</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>琶洲安保</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457539200000</integer>
			<key>distance</key>
			<string>11.6千米</string>
			<key>enddate</key>
			<integer>1459353600000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/kefu.png</string>
			<key>id</key>
			<integer>84921</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>客服</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>8</integer>
			<key>salary</key>
			<integer>80</integer>
			<key>settlecircle</key>
			<string>月结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>电话回访员</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1456848000000</integer>
			<key>distance</key>
			<string>8.7千米</string>
			<key>enddate</key>
			<integer>1459353600000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>81014</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>301</integer>
			<key>salary</key>
			<integer>100</integer>
			<key>settlecircle</key>
			<string>月结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>京东校园白条校园合伙人招募</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457107200000</integer>
			<key>distance</key>
			<string>2.7千米</string>
			<key>enddate</key>
			<integer>1459612800000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/shixisheng.png</string>
			<key>id</key>
			<integer>80650</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>实习生</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string>面</string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>181</integer>
			<key>salary</key>
			<integer>80</integer>
			<key>settlecircle</key>
			<string>完工结算</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>市场推广实习生</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457452800000</integer>
			<key>distance</key>
			<string>3.1千米</string>
			<key>enddate</key>
			<integer>1460044800000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/danyepaifa.png</string>
			<key>id</key>
			<integer>84386</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>单页派发</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>24</integer>
			<key>salary</key>
			<integer>8</integer>
			<key>settlecircle</key>
			<string>周结</string>
			<key>settletype</key>
			<string>元/小时</string>
			<key>title</key>
			<string>急招校内派单手</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457452800000</integer>
			<key>distance</key>
			<string>4.5千米</string>
			<key>enddate</key>
			<integer>1460044800000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/lingshi.png</string>
			<key>id</key>
			<integer>84317</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>临时工</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>77</integer>
			<key>salary</key>
			<real>0.01</real>
			<key>settlecircle</key>
			<string>周结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>免费看遍2016大片首映</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457539200000</integer>
			<key>distance</key>
			<string>11.7千米</string>
			<key>enddate</key>
			<integer>1457798400000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/danyepaifa.png</string>
			<key>id</key>
			<integer>84092</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>单页派发</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>79</integer>
			<key>salary</key>
			<integer>70</integer>
			<key>settlecircle</key>
			<string>日结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>三元里派单</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457452800000</integer>
			<key>distance</key>
			<string>2.8千米</string>
			<key>enddate</key>
			<integer>1460044800000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>84054</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string>底</string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>50</integer>
			<key>salary</key>
			<integer>200</integer>
			<key>settlecircle</key>
			<string>完工结算</string>
			<key>settletype</key>
			<string>元/次</string>
			<key>title</key>
			<string>中信国旅诚聘校园代理</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457452800000</integer>
			<key>distance</key>
			<string>9.5千米</string>
			<key>enddate</key>
			<integer>1458057600000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>0</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/chongchang.png</string>
			<key>id</key>
			<integer>83515</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>充场</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>432</integer>
			<key>salary</key>
			<integer>300</integer>
			<key>settlecircle</key>
			<string>日结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>充场兼职</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1457107200000</integer>
			<key>distance</key>
			<string>6.1千米</string>
			<key>enddate</key>
			<integer>1459526400000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/xiaoyuandaili.png</string>
			<key>id</key>
			<integer>81954</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>校园代理</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string>绩</string>
				<string>面</string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>148</integer>
			<key>salary</key>
			<integer>100</integer>
			<key>settlecircle</key>
			<string>月结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>寻找大学创业合伙人</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>begindate</key>
			<integer>1456502400000</integer>
			<key>distance</key>
			<string>8.7千米</string>
			<key>enddate</key>
			<integer>1459008000000</integer>
			<key>gategory</key>
			<integer>2</integer>
			<key>hongbao</key>
			<integer>1</integer>
			<key>icon</key>
			<string>http://image.store.tanlu.cc/images/JobTypeIco/tuiguang.png</string>
			<key>id</key>
			<integer>79209</integer>
			<key>isrecommend</key>
			<integer>0</integer>
			<key>jobtype</key>
			<string>APP推广/扫码</string>
			<key>labels</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>pageview</key>
			<integer>126</integer>
			<key>salary</key>
			<integer>60</integer>
			<key>settlecircle</key>
			<string>月结</string>
			<key>settletype</key>
			<string>元/天</string>
			<key>title</key>
			<string>校园推广大使</string>
			<key>titlelabels</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
	</array>
	<key>msg</key>
	<string>操作成功</string>
	<key>status</key>
	<integer>0</integer>
	<key>sum</key>
	<integer>32</integer>
</dict>
</plist>
